/*-----"THE CODE REVIEW"-----*/
h2 {
    text-align: center;
    background: rgba(6, 12, 31, 0.815);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%; 
    margin-top: 0px;
    text-transform: uppercase;
}


/*-----"Signup for our newsletter"-----*/
h1 {
    margin-top: 5px;   
    text-align: center;    
    color: rgba(6, 12, 31, 0.815);
    letter-spacing: -2px;
}


/*-----"Get the latest news..."-----*/
h3 {
    text-align: center;
    color: gray;
    font-weight: 300;
    padding: 0px 15px 5px;
    margin-top: -10px;    
    padding-bottom: 35px;
    margin-bottom: 2px;
    letter-spacing: 0px;
    border-bottom:  solid 4px black;
    
}


/*-----"Contact Information"-----*/
.primary legend {
    width: 100%;
    border-top: solid 2px black;
    padding-top: 30px;
    font-weight: bold;
    font-size: 1.7em;
    letter-spacing: -1px;
    color: rgba(6, 12, 31, 0.815);
}


/*-----"Newsletter"-----*/
.secondary legend {
    padding-top: 25px;    
    width: 100%;
    font-weight: bold;
    font-size: 1.7em;
    letter-spacing: -1px;
    color: rgba(6, 12, 31, 0.815);
}


/*-----Removed Unwantedborder over both fieldsets-----*/
fieldset { 
    border: none; 
}


/*-----Document Format-----*/
form {
    display: flex;
    flex-direction: column; 
    /* align-items: center; */
    /* width: 100%; */
    /* justify-content: start; */
}


.primary fieldset {       
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; */
}

.primary {
    /* display: flex; */
    /* flex-direction: column;  */
    
    border-bottom: solid 2px black;    
} 

.secondary {
    display: flex;
    justify-content: center;
} 

::placeholder {
    font-style: italic;
    text-align: right;
    opacity: 0.5;
}


/*-----INPUT SECTIONS------------ */
textarea[id="other"] { 
    font-size: 1.5em;   
    color: white;
    width: 95%;
    border-radius: 5px;
    margin-top: 15px; 
    color: black; 
    box-shadow:none;
    border-color:transparent;   
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    border: 1px solid rgb(19, 19, 112);
    outline: none;    
}

input[id="zip"] {
    background: #e8eeefd3;
    font-size: 16px;
    height: auto;    
    padding: 15px;
    color: black;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 30%;
    box-shadow:none;
    border-color:transparent;   
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
    display: flex;    
    background: #e8eeefd3;
    font-size: 16px;
    height: auto;
    padding: 15px;
    background-color: #e8eeefd3;
    color: black;    
    margin-bottom: 17px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow:none;
    border-color:transparent;       
}

select {
    height: auto; 
}

/*-----CHECKBOX AND RADIO BUTTONS------------ */
input[type="checkbox"]:checked + label{
    font-weight: bold;
}

input[type="radio"]:checked + label{
    font-weight: bold;    
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;    
}

label {    
    color: rgba(6, 12, 31, 0.815);
}


/*-----SUBMIT BUTTON------------ */
button[type="submit"] {
    /* display: flex; 
    align-items: center; 
    justify-content: center; */
    font-size: 1.5em;
    padding: 20px 20px;
    cursor: pointer;
    background-color: #52bab3;
    color: white;
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-top: 10px; 
    margin-bottom: 20px; 
    outline: none;  
}


/* ---------COPYRIGHT---------- */
h5 {
    margin-top: 10px;
    text-align: center;
    color: gray;
    font-style: italic;
    opacity: 0.5;
    font-size: 1em;
}
/* ---------COPYRIGHT---------- */


@media (min-width: 760px) {
      form {
        display: flex;
        flex-direction: column; 
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    .label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

    .primary {
        width: 100%;
    }

    textarea[id="other"] {
        width: 84%;         
    }

    /* .secondary {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    justify-content: center;
    } */

    div[id="container"],
    div[id="container-2"] {
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; */
   

    } 

    label{        
        margin-right: 0px;
    }

    /* div[id="container"],
    div[id="container-2"] {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    } */

    button[type="submit"] {
    cursor: pointer;
    }
    
    fieldset {
    width: 60%;
    }
}


